
body {
    font-family: 'Helvetica', sans-serif;
}

header {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    background-color: antiquewhite;
}

nav li {
    list-style-type: none;
}

article img {
    float: left;
}

iframe {
   max-width: 100%;
}
